.green-line
	Posada Tierra de Aves - Todos los derechos reservados.
.white-line
	.container
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				Desarrollado por
				=link_to "http://slicegroup.xyz/" do 
					= image_tag "frontend/slice.png", width: "60px"
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				.pull-right.muffin
					Diseñado por
					=link_to "http://studiomuffin.com/" do
						= image_tag "frontend/muffin.png", width: "60px"