#experiencia-container
.container
	.row
		.col-lg-4.col-md-4.hidden-sm.hidden-xs
			.image-experiencia.pull-right
		.col-lg-8.col-md-8.col-sm-12.col-xs-12
			%center.text-exp
				¡Cuéntanos tu experiencia con nosotros!
				= image_tag "frontend/tripadvisor.png", class: "tipadvisor"