.container.container-footer
	.row
		.col-lg-5.col-md-5.col-sm-5
			%h2 CONTACTOS
			.line-footer
			%p
				Email: reservas@tierradeavesposada.com
			%p
				Teléfono: +58 0261-511.07.51
			.row.row-social
				.col-lg-4.col-md-4.col-sm-4.col-xs-4
					.social.facebook
						%center
							= link_to "https://facebook.com/tierradeavesp", target:"_blank" do
								%i.fa.fa-facebook
				.col-lg-4.col-md-4.col-sm-4.col-xs-4
					.social.instagram
						%center
							= link_to "https://instagram.com/tierradeavesp/", target:"_blank" do
								%i.fa.fa-instagram
				.col-lg-4.col-md-4.col-sm-4.col-xs-4
					.social.twitter
						%center
							= link_to "https://twitter.com/tierradeavesp", target:"_blank" do
								%i.fa.fa-twitter
		.col-lg-7.col-md-7.col-sm-7.text-footer-2
			.text
				%h2 DIRECCIÓN
				.line-footer.left 
				%p
					Av. Principal de la población Quisiro. Parroquia Faria,
				%p
					Municipio Miranda, Estado Zulia
			#map_canvas
			.logo-aves
				= image_tag "frontend/home.png", width: "200px", class: "left"
= render "creditos"