.container
  .title-section
    HABITACIONES
  .divisor-section
  .text-section
    %p Que tipos de habitaciones ofrecemos

  .owl-carousel
    -@rooms.each do |room|
      %div{class:"contenedordetalle"}
        %p{class:"titulo"}
          = I18n.transliterate(room.name).upcase
        .img-responsive{style: "background-image: url(#{room.cover})"}
          .mask-room
        = link_to show_room_path(room.id), class: "btn-reservation" do
          VER DETALLE 

:javascript
  $(document).on('ready page:load', function(arguments){
    $(".owl-carousel").owlCarousel({
      autoPlay: true,
      items : 3,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [980,3],
      itemsTablet: [768,2],
      itemsTabletSmall: [768,2],
      itemsMobile : [479,1],
      responsive: true,
      responsiveRefreshRate : 200,
      responsiveBaseWidth: window,
      navigation : true,
      navigationText: [
      "<i class='fa fa-arrow-left'></i>",
      "<i class='fa fa-arrow-right'></i>"
      ],
      pagination: false
    })
  });
