.title-home ¡VIVE LA NATURALEZA!	
.responsive-container
	.img-container
		.centered				
			%img.image-home{src: "assets/frontend/home.png", width: "378px"}
			.reservation-box.hidden-xs
				= form_tag new_reservation_path, method: :get do |f|
					.row
						.col-lg-4.col-md-4.col-sm-4#colunm-home
							.input-home
								= text_field_tag :check_in, params[:check_in], :placeholder => "Check-in", id: "reservation_check_in"
								%i.fa.fa-calendar
						.col-lg-4.col-md-4.col-sm-4#colunm-home
							.input-home
								= text_field_tag :check_out, params[:check_out], :placeholder => "Check-out", id: "reservation_check_out"
								%i.fa.fa-calendar
						.col-lg-4.col-md-4.col-sm-4
							%button.btn-reservation
								RESERVAR

			%center
				.row#home-social
					.col-lg-4.col-md-4.col-sm-4.col-xs-4
						.social#home-social-icon.facebook
							%center
								= link_to "www.facebook.com/tierradeavesp", target:"_blank" do
									%i.fa.fa-facebook
					.col-lg-4.col-md-4.col-sm-4.col-xs-4
						.social#home-social-icon.instagram
							%center
								= link_to "https://instagram.com/tierradeavesp/", target:"_blank" do
									%i.fa.fa-instagram
					.col-lg-4.col-md-4.col-sm-4.col-xs-4
						.social#home-social-icon.twitter
							%center
								= link_to "https://twitter.com/tierradeavesp", target:"_blank" do
									%i.fa.fa-twitter
			.button-down
				= link_to "#" do
					%img.down{src: "assets/frontend/down.png", width: "30px"}

