.container
  .title-section
    TIERRA DE AVES
  .divisor-section
  .text-section
    %p Uno de los principales atractivos de Quisiro es la Playa Oribor cuyo nombre corresponde al Cacique Indigena Oribor quien resguardo por muchos años toda la zona costera que comprende San Carlos, Zapara, Toas y la costa mirandina, Oribor en su lengua original quiere decir “donde habitan las aves” o “tierra de aves”, por está razón y por la presencia del refugio de fauna silvestre “Ciénaga de los Olivitos” un hábitat donde se pueden observar más de 113 especies de aves, así como mamíferos, reptiles y diversidad de fauna acuática.

  %ul.clean-list.facilities-items.text-center.row
    - @items.each do |item|
      %li.col-md-3.col-sm-4
        .facility-item
          .shape-square.mask
            %figure
              - if item[3] == "h"
                %a{:href => "/habitacion/#{item[2]}"}
                  %img{:alt => "facilities", :src => "#{item[1]}"}
              - else
                %a
                  %img{:alt => "facilities", :src => "#{item[1]}"}
              
          %span.uppercase.font-300.text-white.facility-text
            = item[0]
            
  .titles.hidden-xs
    %ul.scrollable
      %li#text-1
        CONECTA CON LA NATURALEZA
      %li#text-2
        UN ESPACIO ÚNICO PARA EL DESCANSO
      %li#text-3
        CONOCE QUISIRO Y SUS ATRACTIVOS ÚNICOS

   