#home   
	=	render 'home'
#navigation   
	=	render 'layouts/frontend/navigation'
#porque   
	=	render 'porque'
#habitaciones
	=	render 'habitaciones'
#experiencia
	=	render 'experiencia'
#footer
	=	render 'footer'

:javascript
	function scrollToAnchor(aid, id){
		var aTag = $("#"+id);
		$('html,body').animate({scrollTop: aTag.offset().top},'slow');
	}

	$(".down").on('click', function() {
		scrollToAnchor(this.id, "navigation");
	});