#navigation
	= render 'layouts/frontend/navigation'
#rooms-image
#show_room
	.container
		.row
			.col-lg-6
				%h2 
					= I18n.transliterate(@room.name).upcase
				.line-room
				%p{align: "justify"}
					= @room.description.html_safe if @room.description 
				
				= link_to	new_reservation_path, class: "btn-reservation", id: "btn-room" do
					RESERVAR
			.col-lg-6
				- unless @room.attachments.blank?
					#carousel-rooms.carousel.slide{"data-ride" => "carousel"}
						/ Wrapper for slides
						.carousel-inner{:role => "listbox"}
							- @room.attachments.each_with_index do |attachment, index|
								- if index == 0
									.item.active
										.image-carousel{style: "background-image: url(#{attachment.image})"}
								- else
									.item
										.image-carousel{style: "background-image: url(#{attachment.image})"}
							
						/ Controls
						%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-rooms", :role => "button", style: "background-image:none"}
							%i.fa.fa-chevron-left{"aria-hidden" => "true"}
							%span.sr-only Previous
						%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-rooms", :role => "button", style: "background-image:none"}
							%i.fa.fa-chevron-right{"aria-hidden" => "true"}
							%span.sr-only Next
				- else
					.image-carousel{style: "background-image: url(#{@room.cover})"}
						
#experiencia
	= render 'experiencia'
#footer
	= render "creditos"

