#navigation
	= render 'layouts/frontend/navigation'
#rooms-image
#show_room
	.container
		.row
			.col-lg-6
				%h2 
					= @place.name
				.line-room
				%p{align: "justify"}
					= @place.description.html_safe if @place.description 
			.col-lg-6
				- unless @place.attachments.blank?
					#carousel-rooms.carousel.slide{"data-ride" => "carousel"}
						/ Wrapper for slides
						.carousel-inner{:role => "listbox"}
							- @place.attachments.each_with_index do |attachment, index|
								- if index == 0
									.item.active
										.image-carousel{style: "background-image: url(#{attachment.image})"}
								- else
									.item
										.image-carousel{style: "background-image: url(#{attachment.image})"}
							
						/ Controls
						%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-rooms", :role => "button"}
							%i.fa.fa-chevron-left{"aria-hidden" => "true"}
							%span.sr-only Previous
						%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-rooms", :role => "button"}
							%i.fa.fa-chevron-right{"aria-hidden" => "true"}
							%span.sr-only Next
						
#experiencia
	= render 'experiencia'
#footer
	= render "creditos"

	