- (action_name == "new" or action_name == "create") ? action="create" : action="update"
= simple_form_for @attachment, :url => url_for(:action => action, :controller => 'attachments') do |f|
  .container_form 
    .title_form
      Datos de Archivo
    .form-p
      .input#name{ class: "#{@attachment.name.blank? ? 'input-false' : 'input-great' }"}
        = f.input :name, label: 'Nombre', input_html: { class: 'input_form', id: "input-name", "ng-focus" => "inputFocus('name')", "ng-blur" => "inputBlur('name')" }

      .input#upload{ class: "#{@attachment.upload.blank? ? 'input-false' : 'input-great' }"}
        = f.input :upload, label: 'Tipo de archivo', collection: [["Subir imagen", 1]], input_html: { class: 'input_form', id: "input-upload", "ng-focus" => "inputFocus('upload')", "ng-blur" => "inputBlur('upload')" }

      %br
      = f.input :image, label: false, as: :file, input_html: { class: "form-control file", placeholder: 'Imagen', "data-buttonBefore" => false, "data-input" => false, "data-buttonText" => params[:action] == "new" ? "Subir imágen" : "Cambiar imágen", id: "input-20" }
      %br
      .public{style:"width:100px"}
        = f.input :public, label: "Publicar", input_html: { style: "margin:0px;", class: 'checkstyle' }
     
    %br
    .panel-footer
      .form-actions
        = f.button :submit, "Guardar", class: "pull-right btn btn-warning"
      .clearfix

:javascript
    $(".checkstyle").bootstrapSwitch({
      offColor: 'danger',
      onColor: 'warning',
      onText: 'Si',
      offText: 'No',
      animate: true,
      size: 'mini'
    });
    $('#input-upload').on('change', '', function (e) {
      var valueSelected = $("#input-upload option:selected").val();
      if(valueSelected=="1"){
        $(".file").show();
        $("#url").hide();
      }else{
        $(".file").hide();
        $("#url").show();
      }
    });
-if @attachment.upload == "1"
  :javascript    
    $(".file").show();
    $("#url").hide();
-else
  - if @attachment.upload.blank?
    :javascript    
      $(".file").hide();
      $("#url").hide();
  -else
    :javascript    
      $(".file").hide();
      $("#url").show();



- if @attachment.image.blank?
  :javascript
    $("#input-20").fileinput({
      browseClass: "btn btn-primary btn-block",
      showCaption: false,
      showRemove: false,
      showUpload: false,
      browseIcon: '<i class="fa fa-folder-open"></i>',
      browseLabel: ' Subir imágen',
    });
- else 
  :javascript
    $("#input-20").fileinput({
      browseClass: "btn btn-primary btn-block",
      showCaption: true,
      captionIcon: '<i class="fa fa-folder-open"></i>',
      showRemove: false,
      showUpload: false,
      browseIcon: '<i class="fa fa-folder-open"></i>',
      browseLabel: ' Subir imágen',
      initialPreview: ['"#{image_tag @attachment.image, class: 'file-preview-image' if !@attachment.image.blank?}"'],
      initialCaption: " #{@attachment.image.file.filename.humanize}"
    });