//Desktop
.visible-md.visible-lg 
	- if current_user
		- if controller_name != "admin" and action_name == "index"
			%li{title:'Buscar'}
				%a{'ng-click'=>"show_search(false)", href: ""}
					= "<i class='fa fa-search' ></i>".html_safe
		
		%li{title:'Ir a la Web', style: "top:9px;"}
			= link_to main_app.root_path do
				= "<i class='fa fa-ellipsis-v'></i>".html_safe

//Responsive			
.visible-sm.visible-xs
	- if current_user
		- if controller_name != "admin" and action_name == "index"
			%li{title:'Buscar'}
				%a{'ng-click'=>"show_search(false)", href: "", "ng-show"=>"!btnDelete"}
					= "<i class='fa fa-search' ></i>".html_safe	
			%li.hidden-md.hidden-lg{title:'Actualizar'}
				%a{"ng-click" => "refresh()", "ng-disabled" => "pagesItemsSelected[currentPageServer].length != 0", :title => t("admin.buttons.refresh"), href: "" , "ng-show"=>"!btnDelete"}
					%i.fa.fa-refresh#icon-refresh{'ng-show'=>"!loadingRefresh"}
					%i.fa.fa-refresh.fa-spin{'ng-show'=>"loadingRefresh"}
			%li{title:'Eliminar'}
				%a{'ng-click'=>"destroy('#{t("#{controller_name}.actions.destroy.confirm")}')", href: "", "ng-show"=>"btnDelete"}
					%i.fa.fa-circle-o-notch.fa-spin{ 'ng-show' => "loadingDelete" }
					%i.fa.fa-trash-o{ 'ng-show' => "!loadingDelete" }	
		
		%li{title:'Ir a la Web', style: "top:9px;"}
			= link_to main_app.root_path do
				= "<i class='fa fa-ellipsis-v'></i>".html_safe
