= simple_form_for(@user) do |f|
	.container_form	
		.title_form
			Datos de usuario
		.form-p
			.input#name{ class: "#{@user.name.blank? ? 'input-false' : 'input-great' }"}
				= f.input :name, label: 'Nombre', input_html: { class: 'input_form', id: "input-name", "ng-focus" => "inputFocus('name')", "ng-blur" => "inputBlur('name')" }
			.input#email{ class: "#{@user.email.blank? ? 'input-false' : 'input-great' }"}
				= f.input :email, label: 'Email', input_html: { class: 'input_form', id: "input-email", "ng-focus" => "inputFocus('email')", "ng-blur" => "inputBlur('email')" }
			.input.input-false#roles{ class: "#{@user.role_ids.count==0 ? 'input-false' : 'input-great' }"}
				= f.input :role_ids, label: 'Roles', collection: Role.all, input_html: { class: "input_form", id: "input-roles", "ng-focus" => "inputFocus('roles')", "ng-blur" => "inputBlur('roles')" }
				= #raw t('devise.announce_password') if params[:action] == 'edit' or params[:action] == 'update'
			.input.input-false#password{ class: "#{@user.password.blank? ? 'input-false' : 'input-great' }"}
				= f.input :password, label: 'Contraseña', input_html: { class: 'input_form', id: "input-password", "ng-focus" => "inputFocus('password')", "ng-blur" => "inputBlur('password')" }
			.input.input-false#confirmation{ class: "#{@user.password_confirmation.blank? ? 'input-false' : 'input-great' }"}
				= f.input :password_confirmation, label: 'Confirmación de contraseña', input_html: { class: 'input_form', id: "input-confirmation", "ng-focus" => "inputFocus('confirmation')", "ng-blur" => "inputBlur('confirmation')"}
		%br
		.panel-footer
			.form-actions
				= f.button :submit, "Guardar", class: "pull-right btn btn-warning"
			.clearfix