.grid-content {
	margin-top: 50px;
	
	.list-wrapper{
		position: relative;
	}

	.show-wrapper {
		position: relative;
		width: 25%;

		.show-body {
			position: fixed;
			width: 25%;
		}
	}
}

/*table grid*/
.grid {	

	td {
		padding: 18px 18px 18px 18px;
	}

	tr {
		border-bottom: solid 1px #e7e7e7;
	}

	tr:hover > td {
		background-color: rgb(237, 237, 237);
	}
	
	tr.select-true > td{
		background-color: rgb(237, 237, 237);
	}

	td {
		text-align: center;
	}

	.current > td {
		background-color: #FFF1C7;
	}

	tr.current:hover > td {
		background-color: #FFF1C7;
	}
}

/*inputs grind*/
.grid {
	input[type=checkbox] {
		visibility: hidden;
	}

	.checkboxFour {
		width: 20px;
		height: 20px;
		position: relative;
	}

	.checkboxFour label {
		display: block;
		width: 20px;
		height: 20px;
		cursor: pointer;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 1;
		border: 1px solid #a3a3a3;

	}

	.checkboxFour:hover > label {
		border: 2px solid #4758D3;
	}	

	.checkboxFour input[type=checkbox]:checked + label {
		background: #4758D3;
		border: 2px solid #4758D3;
	}

	.checkboxFour input[type=checkbox]:checked + label > span:after {
		font-family: "FontAwesome";
		font-size: 15px;
		color: white;
		position: absolute;
		top: -2px;
		left: 0px;
		content: "\f00c";
	}
}