- if flash[:notice]
  .notice.alert.alert-success.alert-dismissible{:role => "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
    = flash[:notice].html_safe
= simple_form_for(@reservation) do |f|
  .form-inputs    
    %h2
      DATOS PERSONALES
    .inputs-reservation
      = f.simple_fields_for :client do |c|
        .row
          .col-lg-6
            = c.input :name, label:false, placeholder: "Nombre y Apellido (Requerido)" 
          .col-lg-6
            = c.input :cedula, label:false, placeholder: "N° Cédula o Pasaporte (Requerido)"
        .row
          .col-lg-6
            = f.input :email, label:false, placeholder: "Email" 
          .col-lg-6
            = f.input :phone, label:false, placeholder: "Teléfono"
    %h2
      DATOS DE RESERVACIÓN
    .inputs-reservation 
      .row
        .col-lg-6
          = f.input :adult, label:false, placeholder: "N° Adultos (Requerido)", input_html:{type:"number", min: "0"}
        .col-lg-6
          = f.input :children, label:false, placeholder: "N° Niños", input_html:{type:"number", min: "0"}
      .row
        .col-lg-6
          = f.input :check_in, label:false, placeholder: "Check in (Requerido)", readonly: true, input_html: { value: "#{@check_in}" }
          %i.fa.fa-calendar
        .col-lg-6
          = f.input :check_out, label:false, placeholder: "Check out (Requerido)", readonly: true, input_html: { value: "#{@check_out}"}
          %i.fa.fa-calendar
      .row
        .col-lg-12
          = f.input :procedence, label:false, placeholder: "Procedencia"
      .row
        .col-lg-12
          = f.input :motive, label:false, placeholder: "Motivo"
    %h2
      SELECCIONAR HABITACIÓN
    .room-inputs
      %p.help-inline
        - if @reservation.errors[:assignments].any?
          = "#{@reservation.errors[:assignments].first}".html_safe 
      .row
        - Room.all.each_with_index do |room, i|
          .room.col-sm-12
            = f.simple_fields_for :assignments, @reservation.assignments.build do |r|
              %a.btn.btn-room{onclick: "quantity(#{room.id})"}
                #image-room{class: "check-#{@rooms_type[i]}"}
                  = r.input :room_id, label: false, :collection => [[room.name, room.id]], :as => :check_boxes, include_hidden: false, input_html: { name: "reservation[assignments_attributes][#{i}][room_id]"}  
                .image-room-mask{id: "mask-#{room.id}"}
                  %p
                    = I18n.transliterate(room.name).upcase
              .quantity{id: "id-#{room.id}"}
                = r.input :quantity, label:false, placeholder: "Cantidad"        
              
    %h2
      MÉTODO DE PAGO
    .inputs-reservation
      .row
        .col-lg-6
          = f.association :pay, label:false, include_blank: "- Tipo de pago (Requerido) -"
    
  %br
  %br
  %br
  .row
    .col-lg-3
      .form-actions
        = f.button :submit, value: "ENVIAR RESERVACIÓN", class: "btn-reservation"

 
  
