%div{ 'ng-init'=>"init(#{@objects.to_json}, '/admin/reservations', '#{params[:search]}', #{@total_rows}, #{Kaminari.config.default_per_page})", "resize" => "" }
  .grid-content
    .col-lg-9.col-md-9{ style: "padding:0px;" } 
      .list-wrapper
        .panel.panel-default
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'} pull-right", id: "message_alerts"}
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
                = content_tag :div, msg, :id => "flash_#{name}"
          .panel-heading#list-heading
            %a.btn.btn-default.btn-action{"ng-click" => "refresh()", "ng-disabled" => "pagesItemsSelected[currentPageServer].length != 0", :title => t("admin.buttons.refresh") }
              %i.fa.fa-refresh#icon-refresh{'ng-show'=>"!loadingRefresh"}
              %i.fa.fa-refresh.fa-spin{'ng-show'=>"loadingRefresh"}
            - if can? :delete, Reservation
              %a.btn.btn-default.btn-action{"ng-show" => "objects.length", "ng-click" => "allSelected(objects)", :title => t("admin.buttons.select_all") }
                %i.fa.fa-square-o{"ng-show" => "!btnDelete"}
                %i.fa.fa-check-square-o{ "ng-show" => "btnDelete" } 
              %a.btn.btn-default.btn-action#btn-delete{ "ng-show" => "btnDelete", "ng-click" => "destroy('¿Estas seguro de querer eliminar las reservas seleccionadas?')", :title => t("admin.buttons.trash") }
                %i.fa.fa-circle-o-notch.fa-spin{ 'ng-show' => "loadingDelete" }
                %i.fa.fa-trash-o{ 'ng-show' => "!loadingDelete" }
            .paginator.pull-right{ "ng-show" => "objects.length > 0"}
              %button.btn.btn-default.pull-right.hidden-xs{'disabled'=>"", style:"color:#000; margin-left:3px;"}
                Página {{currentPage+1}} de {{numberOfPages()}}
              %a.btn.btn-default.pull-right.next{ "ng-disabled"=>"currentPage >= total_objects/pageSize - 1 || loadingNext", "ng-click"=>"next()", style: "margin-left:3px" }
                %i.fa.fa-circle-o-notch.fa-spin{ 'ng-show' => "loadingNext" }
                %i.fa.fa-arrow-right{ 'ng-show' => "!loadingNext" }
              %a.btn.btn-default.pull-right.last{'ng-disabled'=>"currentPage == 0 || loadingLast", "ng-click"=>"last()"}
                %i.fa.fa-circle-o-notch.fa-spin{ 'ng-show' => "loadingLast" }
                %i.fa.fa-arrow-left{ 'ng-show' => "!loadingLast" }
          .panel-body{ style: "border-right: 1px solid #e7e7e7;" }
            #table-scroll
              %table.grid{style: "width:100%"}
                %tbody
                  %tr{ class: "select-{{object.checked}}", "ng-click" => "show_object(object)", :id => "row-{{object.id}}", "ng-repeat" => "object in objects | startFrom:currentPage*pageSize | limitTo:pageSize"}
                    - if can? :delete, Reservation
                      %td{ width: "1px;" }
                        .checkboxFour
                          %input.checkboxFourInput{:id => "check-{{object.id}}", :type => "checkbox", "ng-model" => "object.checked", "ng-click" => "selected(object); $event.stopPorpagation();" }
                          %label{ for: "check-{{object.id}}" }
                            %span
                    %td # {{ object.id }}
                    %td {{ object.name }}
                    %td {{ object.check_in }}
                    %td {{ object.check_out }}
                    %td{'ng-if'=>'object.status==1'}
                      .status{style: "color:rgb(160, 187, 213);font-size: 30px"}
                        %i.fa.fa-clock-o
                    %td{'ng-if'=>'object.status==2'}
                      .status{style: "color:rgb(121, 219, 121);font-size: 30px"}
                        %i.fa.fa-clock-o
                    %td{'ng-if'=>'object.status==3'}
                      .status{style: "color:rgb(237, 123, 123);font-size: 30px"}
                        %i.fa.fa-clock-o
                  
                  %tr{"ng-show" => "!objects.length"}
                    %td{:style => "width:100%"}
                      %center
                        %i.fa.fa-frown-o
                        No hay Reservaciones.
      
    .col-lg-3.col-md-3{ style: "padding:0px;"}
      .show-wrapper
        .show-head
        .show-body
          .panel.panel-default
            .panel-heading{ style: "height:55px;" }
              .actions{ "ng-show" => "object_data" }
                .title.pull-left{ style: "margin-top:6px;" }
                  %i.fa.fa-credit-card
                  Reservación - {{ object_data.id }}
                - if can? :destroy, Reservation
                  = link_to "{{destroy_path(object_data.id)}}", title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar este usuario?' }, class: "btn btn-default btn-action pull-right", "ng-show" => "object_data" do
                    %i.fa.fa-remove
              .actions{ "ng-show" => "!object_data", style: "margin-top:6px;" }
                %i.fa.fa-calendar
                Reservaciones
            .panel-body
              .data{ style: "height: {{windowHeight-104}}px;" }
                .attributes{ "ng-show" => "object_data" }
                  %label Nombre del cliente: 
                  {{object_data.name}}
                  %br
                  %label Cedula: 
                  {{object_data.cedula}}
                  %br
                  %label Email: 
                  {{object_data.email}}
                  %br
                  %label Telefono: 
                  {{object_data.phone}}
                  %br
                  %div{'ng-if'=>'object_data.adult'}
                    %label Adultos: 
                    {{object_data.adult}}
                    %br
                  %div{'ng-if'=>'object_data.children'}
                    %label Niños: 
                    {{object_data.children}}
                    %br
                  %label Check in: 
                  {{object_data.check_in}}
                  %br
                  %label Check out: 
                  {{object_data.check_out}}
                  %br
                  %div{'ng-repeat'=>'room in object_data.rooms'}
                    %label {{room[0]}}: 
                    {{room[1]}}
                    %br
                  %label Metodo de pago: 
                  {{object_data.pay}}
                  %br
                  %label Fecha de reservación:
                  {{object_data.created_at | date:'dd/M/yyyy H:mm'}}
                  %br
                .attributes{ "ng-show" => "!object_data"}
                  %center
                    No se ha seleccionado una reservación para mostrar.
        .show-footer