= content_for(:title, "Admin - Reservaciones")
- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div.hidden-xs{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", id:"message_alerts"}
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      = content_tag :div, msg, :id => "flash_#{name}"
%div
  .panel.panel-default{style:"margin-top:50px"}
    .panel-heading#heading-show{style:"padding-top:5px"}
      .actions
        .title.pull-left{ style: "margin-top:8px;" }
          %i.fa.fa-user
          Reservación - 
          = @reservation.id
        - if can? :destroy, Reservation
          = link_to user_path(@reservation), title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar este usuario?' }, class: "btn btn-default btn-action pull-right" do
            %i.fa.fa-remove
        - if can? :edit, Reservation
          = link_to  edit_user_path(@reservation), title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", style: "margin-right:3px;" do
            %i.fa.fa-pencil   

    .panel-body#body-show
      %label Nombre: 
      = @reservation.client.name
      %br
      %label Cedula: 
      = @reservation.client.cedula
      %br
      %label Email: 
      = @reservation.client.email
      %br
      %label Teléfono: 
      = @reservation.client.phone
      %br
      %label Adultos: 
      = @reservation.adult
      %br
      %label Niños: 
      = @reservation.children
      %br
      %label Check in: 
      = @reservation.check_in
      %br
      %label Check out: 
      = @reservation.check_out
      %br
      
