!!!
%html{lang: "en"}
	%head
		%meta{charset: "UTF-8"}/
		%title Document
	%body
		%div{style: "font-family: \"Open Sans\", sans-serif;"}
			%div{style: "background:#ffffff;padding:10px;font-family: 'Open Sans', sans-serif;"}
				%center
					%h1{style: "color:#6B8E23;"} POSADA TIERRA DE AVES
			%div{style: "padding:5px;padding-left:10px;"}
				%center
					%h3{style: "color:#EC4D51;"} Registro de Reservación
			%div
				%center
					%p 
						="Sr #{@reservation.client.name}, su reservación ha sido recibida, pronto nos pondremos en contacto."					