!!!
%html{lang: "en"}
	%head
		%meta{charset: "UTF-8"}/
		%title Document
	%body
		%div{style: "font-family: \"Open Sans\", sans-serif;"}
			%div{style: "background:#ffffff;padding:10px;font-family: 'Open Sans', sans-serif;"}
				%center
					%h1{style: "color:#6B8E23;"} POSADA TIERRA DE AVES
			%div{style: "padding:5px;padding-left:10px;"}
				%center
					%h3{style: "color:#EC4D51;"} Registro de Reservación
			%div
				%table{border: "1", style: "width:100%;border:1px solid black;border-collapse:collapse;"}
					%tr{style: "background:#E6E6E6;"}
						%th Fecha de Solicitud
						%th Nombre
						%th Cedula/rif
						%th Teléfono 
						%th Email
					%tr{style: "background:#ffffff;padding:10px;font-family: 'Open Sans', sans-serif;"}
						%td
							%center= Date.today
						%td
							%center= @reservation.client.name
						%td
							%center= @reservation.client.cedula
						%td
							%center= @reservation.phone	
						%td
							%center= @reservation.email			
					%tr 
						%td{colspan: "5", style: "background:#ffffff;padding:10px;font-family: 'Open Sans', sans-serif;"}
							%center{style: "color:#ffffff;text-decoration:none;"}
								= link_to "http://tierradeavesposada.com"+reservation_path(@reservation) do
									= "Ver la reservacion"						
