%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Posada Tierra de Aves'
	%link{:href => "http://fonts.googleapis.com/css?family=Roboto:900,100,300,700,400", :rel => "stylesheet", :type => "text/css"}
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Inyxmater Rails'}"}
	%script{src:"https://maps.googleapis.com/maps/api/js?sensor=false"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	= favicon_link_tag "frontend/favicon.png"