-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default#front-navbar{class: "#{'navbar-fixed-top' if action_name != 'index'}"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =image_tag "frontend/navbar.png", width: "50px", style: "margin-top:8px;margin-right:20px;" , class: "hidden-xs" 
      =image_tag "frontend/navbar.png", width: "40px", style: "margin-top:8px;" , class: "visible-xs logo-navbar-xs"    
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right.hidden-xs{class: "#{'top-nav' if action_name == "index"}"}
        = render 'layouts/frontend/navigation_links'
      %ul.nav.navbar-nav.visible-xs{class: "#{'top-nav' if action_name == "index"}"}
        = render 'layouts/frontend/navigation_links'

