- if action_name == "index"
	%li= link_to 'INICIO'.html_safe, "#home"
	%li= link_to 'TIERRA DE AVES'.html_safe, "#porque"
	%li= link_to 'HABITACIONES'.html_safe, "#habitaciones"
	%li= link_to 'RESERVAS'.html_safe, main_app.new_reservation_path, class: "external"
- else
	%li= link_to 'INICIO'.html_safe, main_app.root_path
	%li= link_to 'TIERRA DE AVES'.html_safe, main_app.root_path(anchor: "porque")
	%li{class: "#{'current' if action_name == 'show_room' and controller_name == 'frontend'}"}
		= link_to 'HABITACIONES'.html_safe, main_app.root_path(anchor: "habitaciones")
	%li{class: "#{'current' if action_name == 'new' and controller_name == 'reservations'}"}
		= link_to 'RESERVAS'.html_safe, main_app.new_reservation_path
