//Responsive design
$desktop-large: "(min-width:1600px)"
$desktop: "(min-width:992px)"
$tablet: "(min-width:768px)"
$tablet-landscape: "(min-width:768px) and (orientation : landscape)"
$phone: "(max-width: 767px) and (orientation : portrait)"
$phone-landscape: "(max-width: 767px) and (orientation : landscape)"

//fuentes
$font-type: 'Roboto', sans-serif

//colores
$red-color: #EC4D51
$green-color: #6B8E23
$grey-color: #5D5D5D
$light-grey-color: #c0c0c0

//CSS
.btn-reservation, .btn-reservation:hover
	font-family: 'Roboto', sans-serif
	font-weight: 700
	width: 100%
	border: none
	background: #6B8E23
	color: white
	border-radius: 10px
	padding: 10px
	padding-left: 15px
	padding-right: 15px
	font-size: 15px
	text-decoration: none
	color: white

.social
	color: white
	height: 60px
	width: 60px
	font-size: 30px
	border-radius: 50%
	@media #{$phone}
		margin-right: auto
		margin-left: auto
	i 
		position: relative
		top: 9px

	a, a:hover 
		color: #ffffff	
.facebook		
	background: #5275B2
.instagram		
	background: #565656
.twitter		
	background: #78C0FC

//mixins
@mixin transition-all($time)
	-webkit-transition: all $time
	-moz-transition: all $time
	transition: all $time

@mixin title-section
	.title-section
		font-weight: 700
		font-size: 30px
		color: $green-color
		font-family: $font-type
	.divisor-section
		height: 50px
		width: 50px
		margin: 0em auto
		border-bottom: 2px solid $light-grey-color
		margin-bottom: 50px
	.text-section		
		font-family: $font-type
		font-size: 15px
		color: rgb(99, 99, 99)
		@media #{$desktop-large}
			width: 800px
			margin: 0em auto
		@media #{$desktop}
			width: 800px
			margin: 0em auto

