//Responsive design
$tablet: "(max-width:992px)"
$phone: "(max-width: 768px)"

@mixin itemstransform
  .facilities-items
    margin-top: 180px
    li
      margin-top: -10%
      list-style-type: none      
      -webkit-transform: scale(0.5)
      -moz-transform: scale(0.5)
      -ms-transform: scale(0.5)
      transform: scale(0.5)
      @media #{$tablet}
        margin-top: -13%   
      @media #{$phone}
        width: 70%
        margin-top: -24%
        position: relative
        left: -32px   
      &:first-child, &:nth-child(8n)
        margin-left: 12.5%
        @media #{$tablet}
          margin-left: 16.75%
    @media #{$tablet}
      li:nth-child(6)
        margin-left: 16.75%
    @media #{$phone}
      li:nth-child(6)
        margin-left: 0
    @media #{$phone}
      li:nth-child(odd)
        margin-left: 35%
    .facility-item
      padding: 12%
      .mask  
        background: rgb(104, 104, 104)
      div
        -webkit-transform: rotate(45deg) scale(2)
        -moz-transform: rotate(45deg) scale(2)
        -ms-transform: rotate(45deg) scale(2)
        transform: rotate(45deg) scale(2)
        overflow: hidden      
        figure
          -webkit-transform: rotate(-45deg)
          -moz-transform: rotate(-45deg)
          -ms-transform: rotate(-45deg)
          transform: rotate(-45deg)
          margin: -21% !important
          -webkit-backface-visibility: hidden
          -moz-backface-visibility: hidden
          backface-visibility: hidden
          img
            opacity: 0.3
            -webkit-transition: all 0.2s ease
            -moz-transition: all 0.2s ease
            -ms-transition: all 0.2s ease
            transition: all 0.2s ease
          &:hover img
            opacity: 0.99
            -webkit-transform: scale(1.1)
            -moz-transform: scale(1.1)
            transform: scale(1.1)
        figcaption
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
        figcaption:hover 
          div
            -webkit-transform: translate3d(0, 0, 0)
            -moz-transform: translate3d(0, 0, 0)
            -ms-transform: translate3d(0, 0, 0)
            transform: translate3d(0, 0, 0)
        span
          color: white
          text-shadow: none
          div
            padding-top: 50.5%
            -webkit-transition: all 0.3s ease
            -moz-transition: all 0.3s ease
            -ms-transition: all 0.3s ease
            transition: all 0.3s ease
            span
              position: absolute
              left: 0
              right: 0
              text-align: center
              padding: 9px 0
              -webkit-transition: color 2s ease, text-shadow 1s ease
              -moz-transition: color 2s ease, text-shadow 1s ease
              -ms-transition: color 2s ease, text-shadow 1s ease
              transition: color 2s ease, text-shadow 1s ease
              color: transparent
              text-shadow: 0 0 50px white

    .hover-top
      -webkit-transform: translate3d(100%, -100%, 0)
      -moz-transform: translate3d(100%, -100%, 0)
      -ms-transform: translate3d(100%, -100%, 0)
      transform: translate3d(100%, -100%, 0)
      span
        bottom: 0

    .hover-bottom
      -webkit-transform: translate3d(-100%, 100%, 0)
      -moz-transform: translate3d(-100%, 100%, 0)
      -ms-transform: translate3d(-100%, 100%, 0)
      transform: translate3d(-100%, 100%, 0)
      span
        top: 0  

    .facility-text
      position: absolute
      top: 50%
      left: 0
      right: 0
      -webkit-transform: translate3d(0, -50%, 0)
      -moz-transform: translate3d(0, -50%, 0)
      -ms-transform: translate3d(0, -50%, 0)
      transform: translate3d(0, -50%, 0)
      pointer-events: none
      letter-spacing: 3px
      font-family: $font-type
      font-weight: 700
      color: white
      font-size: 30px
      z-index: 1
      @media #{$tablet}
        font-size: 22px