#owl-demo .item{
  display: block;
  padding: 30px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.owl-theme .owl-wrapper-outer .owl-wrapper .owl-item .titulo{
 text-align: center;
}

.owl-theme .owl-wrapper-outer .owl-wrapper .owl-item{
margin-right: 0px;  
}
  
.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
  margin-bottom: 50px
}
 
.owl-theme .owl-buttons i{
  margin-top: 2px;
}
 
 
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  background: transparent;
  padding: 6px 9px 6px 9px;
  border-radius: 5px;
  border: solid 1px;
  border-color: #a1a1a1; 
	right: 50%;
  top: -55px; 

  i {
  	font-size: 13px;
    color: #a1a1a1;
  }
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  background: transparent;
  padding: 6px 9px 6px 9px;
  border-radius: 5px;
  border: solid 1px;
  border-color: #a1a1a1;  
	left: 50%;
  top: -55px;

  i {
    font-size: 13px;
    color: #a1a1a1;
  }
}

.owl-theme .owl-wrapper .owl-item .img-responsive{
  padding-bottom: 35px;
  height: 400px;
  width: 100%;
  background-size:cover;
  margin-bottom: 30px;
}

.contenedordetalle:hover{ 
  .img-responsive .mask-room{
      background: rgba(104, 104, 104, 0.63);
      padding-bottom: 35px;
      height: 400px;
      width: 100%;
      margin-bottom: 30px;
  }
}


.owl-theme .owl-wrapper{
  margin-top: 50px;
}

.contenedordetalle{
  text-align: center;
  height: 500px;  
  padding: 5px;
}
