@import base
#experiencia
	height: 267px
	#experiencia-container
		background-image: url(map.jpg)
		background-attachment: fixed
		background-repeat: no-repeat
		background-size: cover
		width: 100%
		height: 220px
		overflow: hidden
		position: absolute
		.map
			position: relative
			top: -290px
			@media #{$desktop}
				top: -290px
			@media #{$tablet}
				top: -100px
			@media #{$phone}
				top: 0px
			@media #{$phone-landscape}
				top: 0px
	.container
		position: relative
		top: -37px
	.image-experiencia
		background-image: url(room-exp.png)
		background-repeat: none
		border-radius: 50%
		height: 296px
		width: 296px
		border: 15px solid white
	.text-exp
		position: relative
		top: 88px
		font-family: $font-type
		font-weight: 700
		font-size: 30px
		font-style: italic
		color: white		
		@media #{$phone}
			font-size: 18px
			top: 84px
	.tipadvisor
		margin-top: 10px
		width: 275px
			

