@import base
#footer
	padding-top: 50px
	h2
		color: $green-color
		font-weight: 700
	.container-footer
		padding-bottom: 50px
	.text-footer-2
		text-align: right
		@media #{$phone}
			text-align: left
			margin-top: 50px
			padding-right: 0px
			padding-left: 0px
			.text
				padding: 16px
	.green-line 
		padding-top: 10px
		padding-bottom: 10px
		background: $green-color
		color: white
		font-family: $font-type
		text-align: center
		font-weight: 700
		font-size: 18px
		@media #{$phone}
			font-size: 16px
	.white-line
		font-family: $font-type
		font-weight: 700
		font-size: 18px
		padding-top: 10px
		padding-bottom: 10px
		color: rgb(87, 87, 87)
		img
			display: inline
		.muffin
			img
				width: 80px
	.line-footer
		width: 50px
		margin-top: 50px
		margin-bottom: 50px
		border-bottom: 2px solid #c0c0c0
	.left 
		margin-left: auto
		margin-right: 0
		@media #{$phone}
			margin-left: 0
			margin-right: auto
	p 
		font-family: $font-type
		font-size: 19px
		color: #636363	
	#map_canvas
		width: 100%
		height: 150px
		margin-top: 50px
		margin-bottom: 50px	
		@media #{$phone}
			margin-bottom: 0px	
	.facebook		
		background: #5275B2
	.instagram		
		background: #565656
	.twitter		
		background: #78C0FC
	.row-social
		margin-top: 77px
		width: 86%
		@media #{$phone}
			margin-right: 0px
			margin-left: 0px
			margin: 0 auto
			margin-top: 40px
		@media #{$phone-landscape}
			margin-right: 0px
			margin-left: 0px
			margin: 0 auto
			margin-top: 40px
	@media #{$phone}
		.logo-aves
			img
				margin-left: 0
				margin: auto
				margin-top: 50px
	@media #{$phone-landscape}
		.logo-aves
			img
				margin-left: 0
				margin: auto
				margin-top: 50px

