@import base
#home
	background-image: url('aves.jpg')
	background-repeat: none
	background-size: 100% 100%
	background-position: center
	overflow: hidden
	width: 100%	
	@media #{$desktop-large}
		background-size: 100% 100%
	@media #{$desktop}		
		background-size: 100% 100%
	@media #{$phone}
		background-size: cover
	@media #{$phone-landscape}
		background-size: cover
	.notice
		z-index: 99999
	#home-social
		position: relative
		top: 110px
		@media #{$phone}
			top: 100px
			.social 
				margin-top:	10px
				height: 40px
				width: 40px
				i 
					position: relative
					top: -2px
					font-size: 20px
		@media #{$phone-landscape}
			top: 100px
			.social 
				margin-top:	10px
				height: 40px
				width: 40px
				i 
					position: relative
					top: -2px
					font-size: 20px
	#home-social-icon
		margin-bottom: 20px
	.title-home
		font-size: 30px
		color: $green-color
		letter-spacing: 5px
		font-weight: 700 
		text-align: center
		z-index: 9999
		position: relative
		top: 22px
		@media #{$phone}
			font-size: 15px
			letter-spacing: 5px
		@media #{$phone-landscape}
			font-size: 15px
			letter-spacing: 5px
	.responsive-container
		position: relative
		width: 100%
		.img-container
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			text-align: center 
			.centered
				vertical-align: middle
				display: inline-block
				position: relative
				bottom: 60px			
				@media #{$phone}
					bottom: 88px
				@media #{$phone-landscape}
					bottom: 88px
				.image-home
					width: 387px
					position: relative
					top: 10px
					@media #{$phone}
						width: 250px
						position: relative
						top: 77px
					@media #{$phone-landscape}
						width: 220px
						position: relative
						top: 77px
				.reservation-box
					background: $light-grey-color
					padding: 30px
					position: relative
					bottom: -80px
					.input-home
						margin-top: 3px
						background: #ffffff
						padding-right: 5px
						width: 110%
						input
							padding: 9px
							border: none
							width: 80%
						input:focus
							outline: 0 
						i 
							display: inline
							color: #c0c0c0
				.button-down
					position: relative
					@media #{$desktop}
						bottom: -118px
					@media #{$desktop-large}
						bottom: -300px
					@media #{$tablet}
						bottom: -300px
					@media #{$tablet-landscape}
						bottom: -118px
					@media #{$phone}
						bottom: -160px
					@media #{$phone-landscape}
						display: none
		.img-container:before
			content: ' '
			display: inline-block
			vertical-align: middle
			height: 100%  

