@import base
#front-navbar.navbar-default 
	margin-bottom: 0px
	font-family: $font-type
	font-weight: bold
	font-size: 14px
	background-color: white
	margin-bottom: 0px
	border-radius: 0px
	border: none
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.17)
	padding-top: 5px
	padding-bottom: 10px
	a
		color:white
		padding-top: 20px
		letter-spacing: 3px
	a:hover
		color: $green-color
		padding-top: 20px
		letter-spacing: 3px
	.current
		a
			color: $green-color
	@media #{$phone}
		.logo-navbar-xs
			position: relative
			right: 95px
	@media #{$phone-landscape}
		.logo-navbar-xs
			position: relative
			right: 240px
	


