@import base
@import itemstransform
#porque
  padding-top: 120px
  padding-bottom: 120px
  text-align: center
  +title-section
  +itemstransform
  .titles
    margin-top: 100px
    height: 25px
    overflow: hidden
    left: 0
    right: 0
    text-align: center  
    -webkit-animation: titles 2s
    animation: titles 2s
  .titles:before
    content: ' '
    display: inline-block
    vertical-align: middle
    height: 100%
  .titles ul
    vertical-align: middle
    display: inline-block
    color: rgb(99, 99, 99)
    list-style: none
    padding: 0px
    li
      position: relative
      font-family: $font-type
      font-weight: 700
      letter-spacing: 5px
      font-size: 1.3em
    
