@import base
#rooms-image
	background-image: url('room.jpg')
	background-size: cover
	background-position: 100% 15%
	width: 100%
	height: 400px
	font-family: $font-type
.help-inline
	color: red
#image-room	
	height: 212px
	background-size: cover			
	height: 170px
	width: 100%	
	position: relative
	top: -9px
	z-index: 9
	label
		display: none
	input[type=checkbox]
		display: block

$rooms: suite sencilla doble familiar multiple

@each $room in $rooms
	.check-#{$room}
		background: image-url("frontend/#{$room}.png") no-repeat


#reservation-form
	padding-top: 70px
	padding-bottom: 70px
	h2
		font-family: $font-type
		color: $green-color
		font-weight: 700
		margin-top: 30px
	.inputs-reservation
		input, textarea, select
			border: none
			background: #E7E7E7
			width: 100%
			padding: 10px
			margin-top: 20px		
		i 
			display: inline
			float: right
			position: relative
			top: -30px
			right: 26px
			color: #9E9E9E
			font-size: 20px
	.btn-room	
		border-radius: 0px
		padding: 0px
		width: 100%
		height: 150px
		text-align: center
		font-size: 13px
		font-weight: 700	
		margin-bottom: 10px
		color: #ffffff
		font-family: $font-type
		font-size: 18px
		font-weight: 400
		.image-room-mask  
			background: rgba(104, 104, 104, 0.63)
			height: 170px
			width: 100%
			position: relative
			top: -179px			
			padding-top: 79px		
			z-index: 9
			p
				font-size: 14px
				font-weight: bold

		.green
			background: rgba(107, 142, 35, 0.48)	
			

	.quantity
		input			
			position: relative
			top: -10px
			opacity: 0
			border: none
			background: #E7E7E7
			width: 100%
			padding: 10px
			margin-bottom: 40px			
	.room
		@media #{$desktop}
			width: 20%
			float: left
			padding: 10px
		@media #{$desktop-large}
			width: 20%
			float: left
			padding: 10px


			
		


