@import base
#show_room
	padding-top: 70px
	padding-bottom: 170px
	h2
		color: $green-color
		font-weight: 700
	.line-room
		width: 50px
		margin-top: 50px
		margin-bottom: 50px
		border-bottom: 2px solid #c0c0c0
	p 
		font-family: $font-type
		font-size: 15px
		color: #636363
		margin-bottom: 50px
		@media #{$desktop-large}
			padding-right: 120px		
		@media #{$desktop}
			padding-right: 120px
	.image-carousel
		width: 100%
		height: 600px
		background-size: cover
		@media #{$tablet}
			height: 500px
			margin-top: 50px
		@media #{$phone}
			height: 500px
			margin-top: 50px
	#carousel-rooms
		i
			position: relative
			top: 300px
			@media #{$phone}
				top: 250px
				